# Randomly Split the Data Into 5 Parts

In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/KAFSALAH/WQD7005-DATA-MINING-PROJECT/main/Sales_Mining.csv')

In [20]:
salah_df = df.sample(frac = 0.20)

In [21]:
usman_df = df.sample(frac = 0.20)

In [22]:
ahmed_df = df.sample(frac = 0.20)

In [23]:
chai_df = df.sample(frac = 0.20)

In [24]:
sadman_df = df.sample(frac = 0.20)

In [30]:
# Identify value counts demonstration

In [55]:
salah_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22607 entries, 18816 to 19736
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Date              22607 non-null  object
 1   Day               22607 non-null  int64
 2   Month             22607 non-null  object
 3   Year              22607 non-null  int64
 4   Customer_Age      22482 non-null  float64
 5   Age_Group         22482 non-null  object
 6   Customer_Gender   22607 non-null  object
 7   Country           22607 non-null  object
 8   State             22607 non-null  object
 9   Product_Category  22607 non-null  object
 10  Sub_Category      22607 non-null  object
 11  Product           22607 non-null  object
 12  Order_Quantity    22607 non-null  int64
 13  Unit_Cost         22607 non-null  int64
 14  Unit_Price        22607 non-null  int64
 15  Profit            22607 non-null  int64
 16  Cost              22607 non-null  int64
 17  Revenue           22607 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.3+ MB

In [32]:
salah_df.Customer_Gender.value_counts()

M    11610
F    10997
Name: Customer_Gender, dtype: int64

In [33]:
salah_df.Product_Category.value_counts()

Accessories    14052
Bikes           5110
Clothing        3445
Name: Product_Category, dtype: int64

In [53]:
ahmed_df.Customer_Gender.value_counts()

M    11773
F    10834
Name: Customer_Gender, dtype: int64

In [54]:
ahmed_df.Product_Category.value_counts()

Accessories    14024
Bikes           5212
Clothing        3371
Name: Product_Category, dtype: int64

In [52]:
# Exporting data sets
salah_df.to_csv('salah_df.csv', index = False)
usman_df.to_csv('usman_df.csv', index = False)
ahmed_df.to_csv('ahmed_df.csv', index = False)
chai_df.to_csv('chai_df.csv', index = False)
sadman_df.to_csv('sadman_df.csv', index = False)

In [69]:
sadman_df.isna().sum()

Date                  0
Day                   0
Month                 0
Year                  0
Customer_Age        101
Age_Group           101
Customer_Gender       0
Country               0
State                 0
Product_Category      0
Sub_Category          0
Product               0
Order_Quantity        0
Unit_Cost             0
Unit_Price            0
Profit                0
Cost                  0
Revenue               0
dtype: int64

In [68]:
salah_df.isna().sum()

Date                  0
Day                   0
Month                 0
Year                  0
Customer_Age        125
Age_Group           125
Customer_Gender       0
Country               0
State                 0
Product_Category      0
Sub_Category          0
Product               0
Order_Quantity        0
Unit_Cost             0
Unit_Price            0
Profit                0
Cost                  0
Revenue               0
dtype: int64